@font-face {
    font-family: "Raleway-Regular";
    src: url("fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Raleway-Medium" ;
    src: url("fonts/Raleway-Medium.ttf");
}
.flex-container { 
    font-family: "Raleway-Medium";
    margin: 2%;
}

.flex-container .header{
    display: flex ;
    flex-direction: row;
}

.flex-container .recherche { 
    display: flex;
    flex-flow: column wrap;
    
}

.header img { 
    width: 40% ; 
    margin-left: 3% ; 
    margin-top: 2% ;
    padding-bottom: 2%;
}

.header a { 
    text-decoration: none;
    margin-left: 20%;
    padding-left: 3%;
}

.flex-container .main { 
    display: flex;
    flex-direction: column;
}

.main p { 
    margin-bottom: 3%;
}

form { 
    margin-left: 2%;
}

.filtres { 
    font-weight: bold;
    font-family: "Raleway-Medium";
    font-weight:900;
}

.filtres a {
    margin: 78px;
    font-style: normal;
    color: black;
    text-decoration: none;
    border-radius: 50%;
    border-color: #DEEBFF;
    border: 10%;
    border-style: solid;
}

.filtres a:hover {
    color: #0065FC;
}

.filtres p {
    margin-top: 2%;
    font-weight: initial;
  }

.recherche { 
    height: 30% ;
    padding-bottom: 1% ;
    color: Black;
    margin-left: 1%;
}

.recherche i { 
    float: left ;
    clear: both ;
    border-radius: 100%;
    padding: 0.8em;
    background-color: #DEEBFF;
}

input[type=text] {
    width: 17%;
    padding: 1%;
    box-sizing: border-box;
    border: none;
    text-align: center;
  }

input[type=button], input[type=submit], input[type=reset] {
    background-color: #0065FC;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-top-right-radius :18% ;
    border-bottom-right-radius: 18% ;
  }

  i {
      color: #0065FC;
  }

  p i {
      margin-right: 2%;
  }

  


 