/*ajout police d'ecriture*/

@font-face {
    font-family: "Raleway-Bold";
    src: url("fonts/Raleway-Bold.ttf");
}

@font-face {
    font-family: "Raleway-Medium" ;
    src: url("fonts/Raleway-Medium.ttf");
}

/* page entiere */

body {
    margin: auto;
}

.flex-container { 
    font-family: "Raleway-Medium";
    width: 90%;
    margin: auto;
}

.flex-container a:visited {
    color: black;
}

h2 {
    font-size: 20px;
    font-family: "Raleway-Bold";
}

p {
    font-size: 15px;
}

/* header */

header { 
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

    /* logo */

header .logo { 
    display: flex;
    flex-direction: row;
}

.logo img {
    width: 36% ;
}

    /* navbar */

nav ul {
    list-style-type: none;
    display: flex;
}

li a {
    padding: 37px 50px 43px 50px ;
    color: black;
}

a {
    text-decoration: none;
    
}

a:hover {
    color: #0065FC;
}

li a:hover {
    border-top: #0065FC;
    border-top-style: solid ;
}

.menu { 
    display: flex;
    align-items: center;
    font-size: 20px;
}

.nav-inscription {
    color: #0065FC;
    padding-left: 50px;
}

/*MAIN*/

.main p { 
    margin-bottom: 3%;
}

    /* SEARCH BOX*/

form {
    padding-top: 10px;
}

form i {
    color: black;
}

.searchbox {
    display: flex;
    width: 80em;
}

.searchbox i { 
    float: left ;
    clear: both ;
    border-radius: 15px 0 0 15px;
    padding: 0.8em;
    background-color: #f2f2f2;
}

.searchbox span {
    background-color: #0065FC;
    color: white;
    padding: 15px 20px 15px 20px;
    font-weight: 300;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

input[type=text] {
    width: 17%;
    padding: 1%;
    box-sizing: border-box;
    border: none;
    font-weight: bold;
    font-size: 18px;
    }

input[type=button], input[type=submit], input[type=reset] {
    background-color: #0065FC;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    }

.recherche { 
    height: 30% ;
    padding-bottom: 1% ;
    color: Black;
}

.recherche  div p {
    margin-top:-10px
}

    /* FILTRES */

.champs-filtres { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    font-weight: bold;
    font-family: "Raleway-Medium";
    font-weight:600;
    align-items: center;
    width: 70%;
}

.champs-filtres p {
    align-self: flex-end;
    font-size: 20px;
}

.champs-filtres a {
    margin: 78px;
    font-style: normal;
    color: black;
    text-decoration: none;
    border-radius: 50%;
    border-color: #DEEBFF;
    border-style: solid;
}


.filtre {
    padding: 0px 2% 0px 0px;
    border: solid;
    border-width: medium;
    border-color: lightgrey;
    border-radius: 2em;
    border-width: 2px;
    border-left-style: none;
}

.filtre i {
    border: solid;
    border-style: none;
    border-radius: 21px;
    background-color: #DEEBFF;
    padding: 15px 14px 15px 14px;
    margin-right: 10px;
    color: #0065FC;
}

.filtre:hover {
    color: #0065FC;
}

.info {
    padding-top: 1em;
    padding-left: 10px;
}

.info p::before {
    font-family: "Font Awesome 5 Free";
    content: "\f129";
    display: inline-block;
    margin-right: 20px;
    font-weight: 900;
    color: #0065FC;
    border-radius: 21px;
    border: #f2f2f2;
    border-style: solid;
    padding: 7px 13px 7px 13px;
}
  

i {
      color: #0065FC;
  }

/* LISTE HEBERGEMENTS */

#listehebergements { 
    display: flex;
    justify-content: space-between;
    max-height: 715px ;
}

    /* HEBERGEMENTS */

.liste-offres figcaption p:first-child {
    margin-top: 5px;
}

.liste-offres figcaption p:nth-child(2) {
    margin-top: -10px;
}

.liste-offres figcaption {
    margin-left: 10px;
}

.hebergements {
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-right: 10px;
    padding: 20px 0px 30px 20px;
    width: 64%;
}

.liste-offres {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 97%;
}

.liste-offres .offres {
    width: 340px;
    min-width: 200px;
}

.hebergements figure { 
    border-radius: 20px;
    margin: 15px;
    padding: 6px;
}

.offres figure {
    background-color: white;
    min-width: 256px;
    box-shadow: 1px 1px 10px 2px #c3c3c3;
}

.offres figure img {
    width: 100% ;
    height: 130px;
    object-fit: cover;
    border-radius: 20px 20px 0 0 ;
}

.titre {
    font-weight: bold;
    font-size: 20px;
}

.empty-star i {
    color: lightgrey;
}

    /* POPULAIRES */

.populaires {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 20px 0px 30px 20px;
    width: 515px;
}

.titre-populaire {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px 12% 0px 40px
}

.titre-populaire i {
    padding-top: 30px;
    color: rgb(5, 4, 4);
    
}

.liste-offres-populaires {
    display: flex;
    flex-direction: column;
 
}

.offre-populaire {
    width: 500px;
}

.offre-populaire figcaption p:first-child {
    margin-bottom: -10px;
}

.offre-populaire figcaption p:nth-child(2) {
    margin-top: 20px;
}

.offre-populaire figure {
    display: flex;
    background-color: white;
    min-width: 200px;
    box-shadow: 1px 1px 10px 2px #c3c3c3;
    border-radius: 20px;
    padding: 6px;
    height: 150px;
}

.offre-populaire figure img {
    width: 140px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.offre-populaire .img3 img {
    width: 140px;
}

.offre-populaire figure figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 0 20px 20px;
    width: 200px;
}


/* ACTIVITES */


#listeactivites {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 50px;
}

#listeactivites figure {
    width: 90%;
    margin: auto;
}

#listeactivites a {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column ;
}

#listeactivites h2 {
    padding-left: 15px;
}

#listeactivites div:nth-child(1) img{
    min-height: 500px;
}

#listeactivites div:nth-child(3) img{
    min-height: 500px;
}


#listeactivites div {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
}

#listeactivites div figure {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 1px 10px 2px #c3c3c3;
    border-radius: 20px;
    margin-top: 35px;
    
}

#listeactivites .liste-activites div {
    width: 120em;
}

#listeactivites div figcaption {
    margin-left: 20px;
}

#listeactivites div img {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}


.port img {
    height: 500px;
    width: 100%;
}

.parc-national img {
    height: 500px;
    width: 100%;
}

.activite-2 img {
    height: 240px;
    width: 100%;
}

.activite-2 {
    height: 300px;
}

.activite-3 img {
    height: 165px;
    width: 100%;
}

.activite-3 {
    height: 228px;
}

.activite-5 img {
    height: 200px;
    width: 100%;
}

.activite-6 img {
    height: 200px;
    width: 100%;
}

 /* FOOTER */

 .footer {
     font-family: "Raleway-Medium";
     padding-top: 20px;
     background-color: #f2f2f2;
 }

 .footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 .footer div section:first-child {
     margin-left: 7em;
 }

 .footer div section:last-child {
     margin-right: 28em;
 }

 /* MEDIA QUERIES */

 @media screen and (min-device-width: 375px) and (max-device-width: 667px) {
     
    body {
        width: 100%;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        width: 73em;
    }

    header {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .logo img{
        width: 20em;
        object-fit: scale-down;
        align-self: start;
    }

    header .menu {
        display: flex;
        flex-direction: row;
        font-size: 4em;
    }
    
    header .nav-inscription {
      
    }

    .recherche {
        width: 80em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .recherche h1 {
        width: 15em;
        font-size: 4em;
        margin-left: 1em;
    }

    .recherche .titre-site p {
        width: 18em;
        font-size: 3em;
        margin-left: 73px;
    }

    .recherche .titre-site {
        display: flex;
        flex-direction: column;
    }

    .champs-recherche {
        display: flex;
        flex-direction: row;
    }

    .champs-recherche form {
        width: 80em;
    }

    .champs-recherche form .searchbox {
        display: flex;
        width: 75em;
        height: 9em;
        margin-left: 4em;
        border: #f2f2f2;
        border-style: solid none solid none;
        border-width: 5px;
        border-radius: 2em;
    }

    .champs-recherche form .searchbox i {
        border-radius: 20px 0 0 20px;
    }

    .champs-recherche form .searchbox::after {
        font-family: "Font Awesome 5 Free";
        content: "\f002";
        display: inline-block;
        font-weight: 900;
        background-color: #0065FC;
        color: white;
        padding: 4%;
        border-radius: 2em;
        width: 5em;
        size: 5x;
    }

    .champs-recherche form i  {
        font-size: 3em;
        padding: 4%;
    }

    .champs-recherche form .search {
        display: flex;
        font-size: 4em;
        width: 50em;
        margin-left: 30px;
    }

    .champs-recherche form span  {
        display: none;
    }

    .champs-filtres {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 20em;
        font-size: 4em;
        max-height: 11em;
        align-items: baseline;
        padding: 70px 0 20px 74px;
    }

    .champs-filtres p {
        font-size: 1em;
        align-self: start;
    }

    .filtre {
        display: flex;
        height: 2em;
        margin-bottom: 50px;
        align-items: center;
        border: #f2f2f2;
        border-left-style: none;
        border-style: solid solid solid none;
        border-width: 7px;
    }

    .filtre i {
        padding: 38px;
        border-radius: 2em;
    }

    .recherche .info p {
        font-size: 3em;
        margin-left: 3em;
        margin-right: 2em;
    }

    .info p::before {
        margin-right: 45px;
    }    

    #familial {
        order: 4;
        margin-top: 2em;
    }

    #animaux {
        order: 3;
    }

    #romantique {
        order: 2;
    }

    #listehebergements {
        display: flex;
        flex-direction: column;
        max-height: none;
    }

    .titre-populaire {
        align-items: baseline;
    }

    .titre-populaire h2 {
        font-size: 4em;
    }

    .titre-populaire i {
        font-size: 4em;
    }

    .populaires {
        width: 82em;
        order: 1;
        height: 125em;
    }

    .liste-offres a figure {
        height: inherit;
        border-radius: 60px;
        padding: 1em;
    }

    .populaire .titre-populaire {
        width: 100%;
    }

    .populaires .offre-populaire {
        width: 80em;
        height: 30em;
    }

    .liste-offres-populaires .liste-offres {
        height: 115em;
    }

    .populaires .offre-populaire img {
        width: 37%;
        height: 30em;
        border-radius: 60px 0 0 60px;
    }

    .populaires .offre-populaire figcaption {
        width: 63%;
        height: 30em;
        margin-left: 4em;
    }

    .populaires .offre-populaire figcaption p {
        font-size: 60px;
    }

    .hebergements {
        order: 2;
        display: flex;
        flex-direction: column;
        width: 80em;
        background-color: white;
        height: 385em;
    }

    .hebergements h2 {
        font-size: 5em;
    }

    .hebergements .liste-offres {
        display: flex;
        
    }

    .hebergements .liste-offres a {
        width: 75em;
        height: 53em;
    }

    .hebergements .liste-offres figure {
        width: 100%;
        height: 48em;
    }

    .hebergements .liste-offres a img {
        width: 100%;
        height: 28em;
        border-radius: 60px;
    }

    .hebergements .liste-offres a figcaption {
        margin: 40px 0 0 40px;
    }

    .hebergements .liste-offres a figcaption p {
        font-size: 3em;
    }

    .hebergements .liste-offres a figcaption i{
        font-size: 4em;
    }


    .footer {
        width: 80em;
    }

    .footer div {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .footer div section {
       margin-left: 70px;
    }

    .footer div section:first-child {
        margin: 70px;
    }

    .footer div section:last-child {
        margin-bottom: 28px;
    }

    .footer div section h2 {
        font-size: 4em;
    }

    .footer div section p {
        font-size: 4em;
    }

 }